@import "tailwindcss";


@font-face {
    font-family: 'Brandon Grotesque';
    src: url('./assets/fonts/BrandonGrotesque-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Brandon Grotesque';
    src: url('assets/fonts/BrandonGrotesque-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: 'Serif Gothic';
    src: url('assets/fonts/itc-serif-gothic-std-heavy.otf') format('opentype');
  }

  .font-brandon {
    font-family: 'Brandon Grotesque';
  }

  .font-serif-gothic {
    font-family: 'Serif Gothic';
  }

.font-brandon-bold {
    font-family: 'Brandon Grotesque';
    font-weight: bold;
}

.font-brandon-italic {
    font-family: 'Brandon Grotesque';
    font-weight: bold;
    font-style: italic;
}

.text-title{
   font-size: 32px;
}

.text-normal{
  font-size: 26px;
}

.text-orange{
  color: #EC7932;
}
